<div class="container">
    <h2>Seating Arrangement</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>System no</th>
                <th>Student regno</th>
                <th>Student name</th>
                <th>Student rollno</th>
                <th>Student dept</th>
            <tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>73772126101</td>
                    <td>Aarthi K</td>
                    <td>01</td>
                    <td>AIDS</td>
                </tr>

                
                
            </tbody>
    </table>
</div>